* {
  box-sizing: border-box;
}

body {
	font-family: 'Archivo', sans-serif;
	margin-bottom: 100px;
}

footer {
	position: fixed;
   	bottom: 0px;
	left: 0px;
   	width: 100%;
	height: 50px;
   	background-color: #eee;
   	padding-left: 15px;
}

footer p {    
	display: inline-block;    
	vertical-align: middle;
}

h1, h2, h3 {
  	color: orange;
}

h1 {
  	text-align: center;
  	font-size: 3em;
}

.thumbnail-div {
	border: solid 1px orange;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	/*background-color: #eee;*/
}

.thumbnail img {
	width: 100%;
}

img:hover {
	cursor: pointer;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
    z-index: 1; /* Sit on top */
    background-color: rgba(0,0,0,0.8); /* Create overlay - black w/ opacity */
}

/* Centered child element */ 
.centered-content {
	position: fixed;
	width: 100%;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 100px;
}

/* The modal's close button */
.modal-close {
	position: absolute;
	top: -30px;
	right: 20px;
	width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #eee;
}

.modal-close:hover {
	background-color: red;
}

/* Video container to maintain Youtube 16:9 aspect ratio */ 
.videowrapper{
	position: relative;
	padding-top: 25px;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	height: 0;
}

/* Make Youtube IFRAME responsive */ 
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
	border: none;
	min-width: 120px;
	height: 40px;
    border-radius: 5px;
    color: #ffffff;
	margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
    background: #0000CD;
	font-size: 1em;
}

input {
	border: solid 1px #eee;
	border-radius: 5px;
	padding-left: 1.5%;
}

select {
	border: solid 1px #eee;
	border-radius: 5px;
	padding-left: 1.5%;
}

#search-again-button {
	display: none;
	margin-left: 20px;
}

.js-youtube-control-buttons button {
	display: none;
}

.js-youtube-control-buttons button:focus {
	background: red;
}

.js-youtube-control-buttons button:hover {
	border: 2px solid skyblue;
}

.search-container {
	width: 100%;
	margin-top: 0px;
  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	padding: 20px;
	border: solid 1px orange;
    background: #eee;
    overflow-x: hidden;
}

.col-header {
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 10px;
}

.search-container input {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	font-size: 0.8em;
}

.search-container select {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	font-size: 0.8em;
}

.search-container button {
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	font-size: 0.8em;
	font-weight: bold;
}

.search-container h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

#clear-search-fields {
	width: 25%;
	text-align: left;
	color: blue;
	background: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.meal-title {
	font-size: 2.2em;
	font-weight: bold;
	/*margin-left: 20px;*/
	color: orange;
}

.introduction {
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-align: center;
}